*{
	margin:0;
	padding:0;
}

body{
	width: 100%;
	height: 500px;
	background-color:black;
	font-family: 'Gotham', arial;	
}

li.menu_item{
	cursor: pointer;
}

header{
	
	h1{
		margin: 0 auto;
		height: 80px;
		width: 100%;
		text-align: center;
		padding-top: 20px;
	}

	nav{
		font-size: 14px;
		color: #45bbf8;
		background:#333;
		width: 100%;
	}

	ul{
		list-style: none;
		text-align: center;
		margin: 0 auto;
		width: 80%;

					
		li{
			display: inline-table;
			text-align: center;
			padding: 10px 0;
			width: 20%;
			cursor: pointer;

		}

		li#menu_collapsed{
			display: none;

		}
	}

}

section#content{

	article.main{
		background:url('../img/main.jpg');
		background-position: center 60%;
		background-repeat: no-repeat;
		background-size: 100%;
		overflow: hidden;
		width: 100%;
		min-height: 500px;
		margin: 0 auto;
	}

	article.headers{
		width: 100%;
		padding: 10px 0;
		text-align: center;

		h2{
			color: white;
			font-size: 14px;
			font-weight: 100;
		} 
	}

	article.about_header{
		background: #29ABE2;
	}

	div.about_wrapper{
		float: left;
		background-color: #e1e1e1;

    	div.about_content {
    		width: 80%;
			margin: 0 auto;
			padding: 30px 0;

    		section.about_midia{
				float: left; 
				width: 26%;
				height: auto;
				margin: 0 auto;
				margin-right: 2%;
				
				img {
					max-width: 100%;
					min-width: 200px;
					overflow: hidden;
					height: auto;
					float: left;
				}
    		}

    		section.about_txt{	
				float: left;
				max-width: 72%;
				height: auto;

                p { 
                    float: left;
                    width: 100%;
                    height: auto;
                    color: black;
                    font-size: 13px;
                    padding-bottom: 30px; 
                }
                p:first-child {
                    margin-bottom: 20px;
                }   
    		}
		}
	}

	article.sleepers_header{
		background: #1B98D5;
	}

	div#users_wrapper{	
		float: left;	
		width: 90%;
		margin: 0 auto;
		height: 100%;
		background: black;
		padding: 5%;

		ul{
			float: left;	
			margin: 0 auto;
			width: 100%;

			li.user{
				list-style: none;
				width: 99%;

				div.user_container{
					width: 32%;
					margin: 0.5%;
					background: #333;
					float: left;
					overflow: hidden;

					img{
						width: 40%;
						height: auto;
						float: left;

					}

					p.user_status{
						float: left;
						width:55%;
						margin-top: 3%;
						padding-left: 5%;
						color: white;
						font-weight: 100;
						line-height: 20px;
					}

					p.deep_sleep{
						color: #FF931E;
					}

					p.sleep_wake{
						color:  #29ABE2;
					}


					p.user_name{
						float: left;
						width:55%;
						padding-left: 5%;
						color: white;
						font-size: 14px;
						font-weight: 400;
						line-height: 20px;
					}

					p.user_sleephours{
						float: left;
						width:55%;
						padding-left: 5%;
						color: white;
						font-size: 11px;
						font-weight: 100;
						line-height: 15px;
						margin-bottom:  3%;
					}

					div.button{
						float: left;
						width:60%;
						height: auto;
						padding: 2% 0; 
						background: blue;
						color: white;
						font-weight: 100;
						text-align: center;
					}

					div.button:hover{
						color: black;
						cursor: pointer;
					}

					div.btn_poke{
						background-color: #0071BC;
					}
					div.btn_alert{
						background-color: #29ABE2; 
					}
					div.btn_emergency{
						background-color: #FF931E;
						color: black;
						padding: 4% 0; 
					}
				}
			}

			li.not_sleeping{
				div.user_container{

					div.btn_poke{
						background-color: #4D4D4D;
						color: #333;
					}
					div.btn_alert{
						background-color: #808080; 
						color: #333;
					}
				}
			}
		}
	}
	article.login_header{
		background: #0E84C9;
		float: left;
	}
	article.contact_header{
		background: #0071BC;
		float: left;
	}	

}

@media (min-width : 755px) and (max-width : 1080px) {
section#content{
	div#users_wrapper{	
			ul{
				li.user{
					div.user_container{
						width: 48%;
						// p.user_status{}
						// p.user_name{}
						// p.user_sleephours{}
						// div.button{}
						// div.button:hover{}
						// div.btn_poke{}
						// div.btn_alert{}
					}
				}
			}
		}
	}
}

@media (min-width : 480px) and (max-width: 755px) {
	section#content{

		article.main{
			background-size: auto;
			background-position: 30%;
			height: auto;
		}

		div.about_wrapper {
	    	div.about_content {
	    		width: 90%;

	    		section.about_midia{
					width: 100%;
					height: 200px;
					img {
						width: 100%;
						margin-top: -20%;
					}
	    		}
	    		section.about_txt{	
					max-width: 100%;
					height: auto;

	                p:first-child {
	                    margin-bottom: 1px;
	                }   
	    		}
			}
		}
	
		div#users_wrapper{	
			ul{
				width: 100%;
				li.user{
					div.user_container{
						width: 100%;
						
						padding: 0;
						margin-bottom: 2%;
						img{
							width: 20%;
							height: 100%;	
						}
						div.user_info{
							width: 60%;
							height: auto;
							float: left;	
							p.user_status{
								width: 90%;
								height: 100%;
								margin-top: 7%;
							}
							p.user_name{

								width: 90%;
								height: 100%;
							}
							p.user_sleephours{
								width: 90%;	
								height: 100%;
							}
						}
						div.button_wrapper{
							float: left;
							width: 20%;
							height: auto;
							background: purple;

							div.button{
								width: 100%;
								height: 100%;
								padding: 17% 0;	
								
							}

							div.btn_emergency{
								padding: 45% 0;
							}

						}
					}
				}
			}
		}
	}
}


@media (min-width : 320px) and (max-width: 480px) {
	header ul li#menu_collapsed{
			display: inline;
			padding: 10px 0;
	}

	ul{
		padding: 10px 0  !important;
	}

	li.menu_item{
		display: none;
	}

	section#content{
		width: 100%;
		article.main{
			background-size: auto;
			background-position: 35% 65%;
		}

		div.about_wrapper {
	    	div.about_content {
	    		width: 90%;

	    		section.about_midia{
					width: 90%;
					height: 120px;
					img {
						width: 100%;
						margin-top: -20%;
					}
	    		}
	    		section.about_txt{	
					max-width: 100%;
					height: auto;

	                p:first-child {
	                    margin-bottom: 1px;
	                }   
	    		}
			}
		}

	div#users_wrapper{	
			width: 100%;
			margin: 3% 0;
			padding: 0;
			ul{
				width: 100%;
				li.user{
					div.user_container{
						width: 100%;
						padding: 0;
						margin-bottom: 2%;
						img{
							width: 23%;
						}
						div.user_info{
							width: 57%;
							height: auto;
							float: left;	
							p.user_status{
								width: 90%;
								height: 100%;
								margin-top: 7%;
							}
							p.user_name{

								width: 90%;
								height: 100%;
							}
							p.user_sleephours{
								width: 90%;	
								height: 100%;
							}
						}
						div.button_wrapper{
							float: left;
							width: 20%;
							height: auto;

							div.button{	
								width: 100%;
								height: 100%;
								padding: 17% 0;	
								transition:all 2s ease-in-out;
		
							}

							div.btn_emergency{
								padding: 45% 0;
							}
						}
					}
				}
			}
		
		}
	}

	.headers{
		cursor: pointer;
	}
}

.is_clicked{
    transition:all 500ms ease-in-out;
	display: none;
	overflow: hidden;
}

.poke_clicked{
    transition:all 2s ease-in-out;
	width: 0 !important;
	margin-left: 200% !important;

}

.alert_clicked{
    transition:all 2.5s ease-in-out;
	background: red !important;
	margin-left: 4000px !important;
}

.user_clicked{
    transition:all 1s ease-in-out;

}


/*   // CLASS NOTES
	.headers:hover{
		color:black !important; //overwrites everything
	}

	#logo > a{ // direct a tag under id logo

	}
*/

